<p style="color: green"><%= notice %></p>

<%= render @article %>

<div>
  <% if user_signed_in?  %>
    <%= link_to "Edit this article", edit_article_path(@article) %> |
    <%= button_to "Destroy this article", @article, method: :delete %>
  <% end %>
  <br>
  <%= link_to "Volver a artículos", articles_path %>
</div>
