<div id="<%= dom_id order_detail %>">
  <p>
    <strong>Date:</strong>
    <%= order_detail.date %>
  </p>

  <p>
    <strong>Num items:</strong>
    <%= order_detail.num_items %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= order_detail.order_id %>
  </p>

  <p>
    <strong>Article:</strong>
    <%= order_detail.article_id %>
  </p>

</div>
