<p style="color: green"><%= notice %></p>

<%= render @brand %>

<% if user_signed_in? %>
  <div>
    <%= link_to "Edit this brand", edit_brand_path(@brand) %> |
    <%= button_to "Destroy this brand", @brand, method: :delete %>
  </div>
<% end %>

<%= link_to "Back to brands", brands_path %>
